@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

html, body {
    padding: 0;
    margin: 0;
    min-height: 100vh;
    min-width: 100vw;
}
body {
    font-family: 'Nunito', sans-serif;
}
.page {
    min-height: 90vh;
    min-width: 90vw;
    padding: 5vh 5vw;
}
.container {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    background-size: cover;
    background-position: center;
    width: 100%;
}
.vcontainer {
    flex-direction: column;
}
.hcontainer {
    flex-direction: row;
}
h1 {
    font-weight: bolder;
    margin: 0;
    padding-top: max(3vh, 10px);
    padding-bottom: max(3vh, 10px);;
    text-transform: uppercase;
    font-size: max(5vmin, 30px);
    text-align: center;
}